
<div class="container">
    AU Management System
    <div class="row mt-5">
      <div class="col-md-4 mt-2 m-auto ">
            <button (click)="signInWithGoogle()" class="login-Btn" #loginRef >
              Login with Google<img class="social-btn-icon" alt="Login with Google" src="https://hrcdn.net/fcore/assets/google-colored-20b8216731.svg">
            </button>
            <!----<button (click)="register()" class="login-Btn" #loginRef >
              Register with Google<img class="social-btn-icon" alt="Login with Google" src="https://hrcdn.net/fcore/assets/google-colored-20b8216731.svg">
            </button>--->
      </div>   
    </div>
</div>
<div class="image"></div>
  
  